.success blockquote {
    border-color: #6c0;
}
.info blockquote {
    border-color: #56adec;
}
.warning blockquote {
    border-color: #ffc107;
}
.error blockquote {
    border-color: #f20;
}
.api-stability {
    color: white !important;
    margin: 0 0 1rem 0;
    padding: 1rem;
    line-height: 1.5;
}
.api-stability a {
    color: white !important;
    text-decoration: underline;
}
.api-stability-0 {
    background-color: #d60027;
}
.api-stability-1 {
    background-color: #ec5315;
}
.api-stability-2 {
    background-color: #4eba0f;
}
